body { 
  margin: 0;
}
.container{
  position: relative;
  width: 100%;
  height: 140px;
  left: 1px;
  right: 1px;
  top: 0px;
}
.headerimage{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 200px;
  background-color: rgba(0,0,0,1);
}
.center_title1{
  position: absolute;
  top: 50%;
  left: 50%;
  color:white;
  font-size: 2.5em;
  margin-top: 1px;
  line-height: 58px;
  z-index: 1;
  transform: translate(-50%, -50%);
  align-content: center;
}


.borderline{
  position: relative;
  /* width: 1750px;
  height: 0px;
  left: 72px;
  top: 400px; */
  border: 1px solid #FD1313;
  transform: rotate(0.09deg);
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 50px;
}


.fullbox{
  position: relative;
  float :center;
  
  
}
.subbox{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
 
}

/* .menubox{
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px;
  left: 152px;
  top: 250px;
  border:1px solid black;
  margin: 5px;
 
} */
.contentimage{
  position: inline-block;
  width: 480px;
  height: 300px;
  border:1px;
  padding-top: 10px;
  padding-left: 5px;
  border: 1px sold black;
}



.clickbox{
  color: #FD1313;
}



.footbox {
  /* height: 25px;
  padding: 2rem;
  background: #E23D3D;
  color:white;
  justify-content: space-between;
  text-align: center;
  font-size: 1em;
  bottom: 0%;
  width: 100%; */
  
      height: 25px;
      padding: 2rem;
      background: #E23D3D;
      color: white;
      justify-content: space-between;
      text-align: center;
      font-size: 10px;
      bottom: 0%;
      width:100%;
      position:relative;
}

.click {    /* 맛집보러가기 */
    width: 300px;
    height: 70px;
    float: right;
    margin-right: 70px;
 
}

.containerbox{  /* 강남뭐뭑지? */
    width: 400px;
    margin-left: 170px;
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    font-size: 2.5em;
    color: #FD1313;
    height: 0;
  }

#headbox {  /* 강남뭐뭑지 + 맛집보러가기*/
    display: flex;
    justify-content: space-between;
}

#wrap-main {    /* 전체 div */
    width: 100%;
}