.container{
    display: grid;
    padding-top: 50px;
    grid-template-columns: 0.5fr 2fr ;
    grid-template-rows: 1fr 1fr;
    
}


.regisimage{
    
    position:absolute;
    width:600px;
    height:350px;
    padding-right:4050px;
}

.bottomword{

    padding-top: 80px;
    padding-left:170px;
 

     
}

h1{

    color: #E23D3D;
}

